# SQL Server Database 
services:
  mssql-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql-db
    env_file:
      - .env
    environment:
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - mssql-data:/var/opt/mssql
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -C -S localhost -U sa -P "$${MSSQL_SA_PASSWORD}" -Q "SELECT 1" -b -o /dev/null
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 600s



# Database Initialization 
  db-init:
    image: mcr.microsoft.com/mssql-tools
    container_name: db-init
    depends_on:
      mssql-db:
        condition: service_healthy
    env_file:
      - .env  
    environment: 
      MSSQL_SA_PASSWORD: ${MSSQL_SA_PASSWORD}
      DB_HOST: mssql-db
      DB_PORT: 1433
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    # command: [ "/bin/bash", "/app/db-init.sh" ]
    volumes:
      - ./database:/scripts
    command: |
      bash -c '
      set -e
      echo "Waiting for SQL Server to start..."
      sleep 10
      echo "Running vet_database.sql..."
      /opt/mssql-tools/bin/sqlcmd -x -S mssql-db -U sa -P "$$MSSQL_SA_PASSWORD" -i /scripts/vet_database.sql
      if [ $$? -eq 0 ]; then
        echo "Database initialized successfully!"
        exit 0
      else
        echo "Database initialization failed!"
        exit 1
      fi
      '

# Flask App 
  flask-app:
    build: ./backend
    container_name: flask-app
    volumes:
      - ./backend:/app
      - ./frontend:/frontend
    ports:
      - "5000:5000"
    depends_on:
      db-init:
        condition: service_completed_successfully
    env_file:
      - .env
    environment:
      FLASK_APP: app.py


volumes:
  mssql-data: 
